// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "resource.h"
#include <atlres.h>

/////////////////////////////////////////////////////////////////////////////
// English (United Kingdom) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG_EDIT_IN_PROGRESS DIALOGEX 0, 0, 125, 58
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON      "Cancel",IDCANCEL,68,37,50,14
    PUSHBUTTON      "Show Editor",IDC_EDIT_IN_PROGRESS_FOCUS,7,37,50,14
    LTEXT           "Text editing is in progress...",IDC_STATIC,15,17,94,16
END

IDD_DIALOG_CONF DIALOGEX 0, 0, 449, 310
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Spider Monkey Panel Configuration"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_STATIC,7,2,47,17,0,WS_EX_TRANSPARENT
    LTEXT           "Panel name:",IDC_STATIC,12,8,40,8
    EDITTEXT        IDC_EDIT_PANEL_NAME,56,5,337,14,ES_CENTER | ES_READONLY | NOT WS_TABSTOP
    PUSHBUTTON      "Edit",IDC_BUTTON_EDIT_PANEL_NAME,394,5,47,14
    PUSHBUTTON      "Save",IDC_BUTTON_COMMIT_PANEL_NAME,394,5,47,14
    CONTROL         "",IDC_TAB_CONF,"SysTabControl32",0x0,7,23,435,260
    DEFPUSHBUTTON   "OK",IDOK,284,290,50,14
    PUSHBUTTON      "Apply",IDAPPLY,338,290,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,392,290,50,14
    PUSHBUTTON      "Help",ID_HELP,7,290,50,14
END

IDD_DIALOG_INPUT DIALOGEX 0, 0, 239, 68
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "InputBox"
FONT 8, "Tahoma", 400, 0, 0x0
BEGIN
    LTEXT           "Prompt",IDC_INPUT_PROMPT,7,7,221,11
    EDITTEXT        IDC_INPUT_VALUE,6,24,225,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,125,47,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,180,47,50,14
END

IDD_DIALOG_HTML DIALOGEX 0, 0, 309, 176
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Dialog"
FONT 8, "Tahoma", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_IE,"{8856F961-340A-11D0-A96B-00C04FD705A2}",WS_TABSTOP,0,0,309,175
END

IDD_DIALOG_SLOWSCRIPT DIALOGEX 0, 0, 291, 104
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Warning: Unresponsive script"
FONT 8, "Tahoma", 400, 0, 0x0
BEGIN
    CONTROL         "Don't ask me again",IDC_SLOWSCRIPT_CHECK_DONTASK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,66,76,10
    PUSHBUTTON      "Continue",IDC_SLOWSCRIPT_CONTINUE,90,84,50,14
    DEFPUSHBUTTON   "Stop script",IDC_SLOWSCRIPT_STOP,150,84,50,14
    LTEXT           "A script may be busy or may have stopped responding. You can stop the script now or let it continue.",IDC_STATIC,12,12,270,18
    LTEXT           "Panel: PanelName\nScript: ScriptName",IDC_SLOWSCRIPT_SCRIPT_NAME,12,40,270,18
END

IDD_DIALOG_CONF_TAB_SCRIPT_SRC DIALOGEX 0, 0, 428, 247
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Script source",IDC_GROUP_SCRIPT_SRC,18,23,392,193
    CONTROL         "Sample",IDC_RADIO_SRC_SAMPLE,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,25,41,39,10
    COMBOBOX        IDC_COMBO_SRC_SAMPLE,25,54,371,30,CBS_DROPDOWNLIST | WS_VSCROLL
    CONTROL         "File",IDC_RADIO_SRC_FILE,"Button",BS_AUTORADIOBUTTON,25,76,27,10
    EDITTEXT        IDC_TEXTEDIT_SRC_PATH,25,89,343,14,ES_AUTOHSCROLL | ES_READONLY | NOT WS_TABSTOP
    PUSHBUTTON      "...",IDC_BUTTON_BROWSE,372,89,24,14
    CONTROL         "In-memory",IDC_RADIO_SRC_MEMORY,"Button",BS_AUTORADIOBUTTON,25,113,51,10
    CONTROL         "Package",IDC_RADIO_SRC_PACKAGE,"Button",BS_AUTORADIOBUTTON,25,129,43,10
    EDITTEXT        IDC_TEXTEDIT_SRC_PACKAGE,25,142,291,14,ES_AUTOHSCROLL | ES_READONLY | NOT WS_TABSTOP
    PUSHBUTTON      "Package manager",IDC_BUTTON_OPEN_PKG_MGR,319,142,77,14
    CONTROL         "Edit script...",IDC_BUTTON_EDIT_SCRIPT,"Button",BS_SPLITBUTTON | WS_GROUP | WS_TABSTOP,332,189,71,14
END

IDD_DIALOG_CONF_TAB_PACKAGE DIALOGEX 0, 0, 428, 247
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LISTBOX         IDC_LIST_PACKAGE_FILES,17,23,167,147,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    GROUPBOX        "Package files",IDC_GROUP_PKG_FILES,7,7,185,233,BS_LEFTTEXT | WS_GROUP
    PUSHBUTTON      "Create script...",IDC_BUTTON_NEW_SCRIPT,18,175,80,14
    PUSHBUTTON      "Add asset...",IDC_BUTTON_ADD_FILE,107,175,77,14
    PUSHBUTTON      "Remove",IDC_BUTTON_REMOVE_FILE,18,194,50,14
    PUSHBUTTON      "Rename",IDC_BUTTON_RENAME_FILE,76,194,50,14
    CONTROL         "Edit...",IDC_BUTTON_EDIT_SCRIPT,"Button",BS_SPLITBUTTON,134,194,50,14
    PUSHBUTTON      "Open package folder",IDC_BUTTON_OPEN_FOLDER,83,219,101,14
    GROUPBOX        "Package information",IDC_GROUP_PKG_INFO,201,7,219,172,WS_GROUP
    LTEXT           "Name:",IDC_LTEXT_NAME,223,25,22,8
    EDITTEXT        IDC_EDIT_PACKAGE_NAME,249,23,161,14,ES_AUTOHSCROLL
    LTEXT           "Version:",IDC_LTEXT_VERSION,218,50,27,8
    EDITTEXT        IDC_EDIT_PACKAGE_VERSION,249,48,161,14,ES_AUTOHSCROLL
    LTEXT           "Author:",IDC_LTEXT_AUTHOR,219,75,26,8
    EDITTEXT        IDC_EDIT_PACKAGE_AUTHOR,249,73,161,14,ES_AUTOHSCROLL
    LTEXT           "Description:",IDC_LTEXT_DESCRIPTION,206,101,39,8
    EDITTEXT        IDC_EDIT_PACKAGE_DESCRIPTION,249,99,161,71,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    GROUPBOX        "Panel behaviour",IDC_GROUP_PANEL_BEHAVIOUR,201,183,219,57,WS_GROUP
    CONTROL         "Grab focus on mouse click",IDC_CHECK_SHOULD_GRAB_FOCUS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,209,202,98,10
    CONTROL         "Drag-n-drop support",IDC_CHECK_ENABLE_DRAG_N_DROP,
                    "Button",BS_AUTOCHECKBOX,209,218,82,10
END

IDD_DIALOG_PACKAGE_MANAGER DIALOGEX 0, 0, 363, 262
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,252,241,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,306,241,50,14
    LISTBOX         IDC_LIST_PACKAGES,19,18,160,174,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "New",IDC_BUTTON_NEW_PACKAGE,20,196,50,14
    PUSHBUTTON      "Delete",IDC_BUTTON_DELETE_PACKAGE,73,196,50,14
    PUSHBUTTON      "Export",IDC_BUTTON_EXPORT_PACKAGE,73,214,50,14
    PUSHBUTTON      "Import",IDC_BUTTON_IMPORT_PACKAGE,20,214,50,14
    GROUPBOX        "",IDC_STATIC,185,14,160,179
    EDITTEXT        IDC_PACKAGE_INFO,187,19,157,172, ES_MULTILINE | ES_READONLY | WS_VSCROLL
    PUSHBUTTON      "Open folder",IDC_BUTTON_OPEN_FOLDER,127,196,50,14
END

IDD_DIALOG_PROPERTIES DIALOGEX 0, 0, 620, 400
STYLE DS_SETFONT | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Properties"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LISTBOX       IDC_LIST_PROPERTIES, 0, 0, 620, 374, LBS_OWNERDRAWVARIABLE | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    PUSHBUTTON    "De&lete", IDC_BTN_DEL,         7, 380, 50, 14
    PUSHBUTTON    "&Import", IDC_BTN_IMPORT,      64, 380, 50, 14
    PUSHBUTTON    "&Export", IDC_BTN_EXPORT,      121, 380, 50, 14
    PUSHBUTTON    "C&lear",  IDC_BTN_CLEAR,       178, 380, 50, 14
    DEFPUSHBUTTON "&OK",     IDOK,                455, 380, 50, 14
    PUSHBUTTON    "&Apply",  IDC_BTN_APPLY,       509, 380, 50, 14
    PUSHBUTTON    "&Cancel", IDCANCEL,            563, 380, 50, 14
END

IDD_DIALOG_EDITOR DIALOGEX 0, 0, 620, 400
STYLE DS_SETFONT | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Editor"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL       "",         IDC_SCINTILLA,   "Scintilla.smp", WS_CLIPCHILDREN, 0, 0, 620, 374
    PUSHBUTTON    "Code",     IDC_BTN_CODE,    7, 380, 50, 14
    PUSHBUTTON    "Style",    IDC_BTN_STYLE,   64, 380, 50, 14
    DEFPUSHBUTTON "&OK",      IDOK,            455, 380, 50, 14
    PUSHBUTTON    "&Apply",   IDC_BTN_APPLY,   509, 380, 50, 14
    PUSHBUTTON    "&Cancel",  IDCANCEL,        563, 380, 50, 14
END

IDD_DIALOG_STYLE DIALOGEX 0, 0, 330, 200
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Editor Properties"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL    "",         IDC_LIST_STYLE,  "SysListView32", LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP, 0, 0, 330, 176
    PUSHBUTTON "&Import",  IDC_BTN_IMPORT,  7, 180, 50, 14
    PUSHBUTTON "&Export",  IDC_BTN_EXPORT,  64, 180, 50, 14
    PUSHBUTTON "&Presets", IDC_BTN_PRESETS, 121, 180, 50, 14
    PUSHBUTTON "&Close",   IDCANCEL,        273, 180, 50, 14
END

IDD_DIALOG_FIND_REPLACE DIALOGEX 0, 0, 239, 122
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Replace"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT         "Find:",              IDC_STATIC,          7, 7, 35, 8
    LTEXT         "Replace with:",      IDC_LABEL_REPLACE,   7, 35, 44, 8
    EDITTEXT                            IDC_EDIT_FIND,       7, 17, 168, 14, ES_AUTOHSCROLL
    EDITTEXT                            IDC_EDIT_REPLACE,    7, 45, 168, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX  "Match case",         IDC_CHECK_MATCHCASE, 7, 64, 80, 10
    AUTOCHECKBOX  "Whole word",         IDC_CHECK_WHOLEWORD, 7, 78, 80, 10
    AUTOCHECKBOX  "Regular Expression", IDC_CHECK_REGEXP,    7, 92, 80, 10
    DEFPUSHBUTTON "Find Down",          IDC_BTN_NEXT,        182, 7, 50, 14,  WS_DISABLED
    PUSHBUTTON    "Find Up",            IDC_BTN_PREVIOUS,    182, 25, 50, 14, WS_DISABLED
    PUSHBUTTON    "Replace",            IDC_BTN_REPLACE,     182, 43, 50, 14, WS_DISABLED
    PUSHBUTTON    "Replace All",        IDC_BTN_REPLACE_ALL, 182, 61, 50, 14, WS_DISABLED
    PUSHBUTTON    "Close",              IDCANCEL,            182, 97, 50, 14
END

IDD_DIALOG_GOTO DIALOGEX 0, 0, 206, 59
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Go To Line"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT         "Line number:", IDC_STATIC,           7, 7, 42, 8
    EDITTEXT                      IDC_EDIT_LINE_NUMBER, 7, 17, 192, 14, ES_NUMBER | ES_AUTOHSCROLL
    DEFPUSHBUTTON "&OK",          IDOK,                 95, 38, 50, 14
    PUSHBUTTON    "&Cancel",      IDCANCEL,             149, 38, 50, 14
END

/////////////////////////////////////////////////////////////////////////////
//
// SCRIPT
//

IDR_DEFAULT_SCRIPT          TEXT "default_script.js"
IDR_SCINTILLA_COMPONENT_API TEXT "scintilla_component.api"
IDR_SCINTILLA_JS_API        TEXT "scintilla_js.api"
IDR_RECOVERY_PACKAGE_SCRIPT TEXT "recovery_package_script.js"
IDR_RECOVERY_PACKAGE_JSON   TEXT "recovery_package_json.json"
IDR_CFG_BRIGHT     TEXT "cfgBright.cfg"
IDR_CFG_DARK_GRAY  TEXT "cfgDarkGray.cfg"
IDR_CFG_DEFAULT    TEXT "cfgDefault.cfg"
IDR_CFG_RUBY_BLUE  TEXT "cfgRubyBlue.cfg"

IDR_TYPELIB TYPELIB "foo_spider_monkey_panel.tlb"
#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
